.container {
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 120px;
    max-width: 100%;
}

h1 {
    color: #585859;
    font-size: 29px;
    font-family: "Open Sans";
}

.password {
    display: flex;
    justify-content: flex-end;
    font-family: "Mukta";
    font-size: 12px;
    margin-bottom: 10px;
}

.password p{
    font-family: "Mukta";
    font-size: 12px;
    text-transform: uppercase;
    color: #585859;
    margin-top: 0;
    font-weight: bold;    
}

.button {
    display: flex;
    justify-content: center;
}

.login-register {
    display: flex;
    justify-content: center;
    margin-top: 27px; 
}

.login-register a{
    color: #0077C5;
    font-size: 16px;    
    font-family: "Mukta";
    text-decoration: none;
}