<div class="cards__home">
  <div class="card">
    <h3>
      Mussum Ipsum cacilds
    </h3>
    <img src="../../../assets/card.png" alt="">
    <p>
      Delegadis gente finis, bibendum egestas augue arcu ut est interessantiss quisso pudia.
    </p>
    <button class="btn__card">Saiba mais</button>
    
  </div>
  <div class="card">
    <h3>
      Mussum Ipsum cacilds
    </h3>
    <img src="../../../assets/card.png" alt="">
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.
    </p>
    <button class="btn__card2">Saiba mais</button>
  </div>
  <div class="card">
    <h3>
      Mussum Ipsum cacilds
    </h3>
    <img src="../../../assets/card.png" alt="">
    <p>
      Receita de bolis, mais bolis eu num gostis copo furadis é disculpa de bebadis.
    </p>
    <button class="btn__card">Saiba mais</button>
  </div>
</div>
